.filter-and-sort {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 80%;
  margin: 0 auto;
}

.solid {
  margin-top: 20px;
  border-top: 1px solid black;
  max-width: 80%;
}

.filter {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 565px) {
  .filter-and-sort {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}