.nav {
  display: flex;
  justify-content: start;
  align-content: center;
}

.nav-logo {
  margin-left: 1em;
  width: 80px;
  align-self: center;
  margin-bottom: 8%;

}

.link-logo {
  display: flex;
  align-content: center;
  padding: none;
}

.nav-items {
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: 0;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.nav-items > li {
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}

.nav-items > li:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #333333;
  transition: width 0.3s ease-in-out;
}

.nav-items > li:hover:before {
  width: 100%;
}


@media only screen and (max-width: 380px) {
  .nav-items > li {
    font-size: 18px;
    padding: 10px
  }

  .nav-logo {
    height: 44px;
    margin-bottom: 10%;
  }
  
}